<h1>Add a Band</h1>

<form action="/" method="post">
  <div class="form-group">
    <label for="name">Band Name</label>
    <input type="text" name="name" placeholder="e.g. Codeine Infused Coders">
  </div>

  <div class="form-group">
    <label for="style">Band Style</label>
    <input type="text" name="style" placeholder="e.g. Classical Electronic">
  </div>

  <div class="form-group">
    <label for="lead">Lead</label>
    <input type="text" name="lead" placeholder="e.g. Bjarne Stroustrup">
  </div>

  <button type="submit" class="btn btn-success btn-md">Add</button>
</form>
