<div class="row">
  <div class="col-sm-9">
    <h1>Bands</h1>
    <% if !@bands.any? %>
      <h3>There are no bands, yet!</h3>
    <% else %>

    <% end %>

    <a href="/bands/new" class="btn btn-primary btn-lg">Add a Band</a>
  </div>
  <div class="col-sm-3">
    <h1>Venues</h1>
  </div>
</div>
