<h1>Add a Venue</h1>

<% if @venue %>
<% @venue.errors.full_messages.each do |error| %>
<div class="alert alert-danger"><%= error %></div>
<% end %>
<% end %>

<form action="/venues/new" method="post">
  <div class="form-group">
    <label for="name">Venue</label>
    <input type="text" class="form-control" name="name" placeholder="e.g. Bespin Platforms">
  </div>

  <div class="form-group">
    <label for="seats">Available Seats</label>
    <input type="number" min="0" max="1000000" class="form-control" name="seats" value="0">
  </div>

  <div class="form-group">
    <label for="lead">Is the Venue Indoors?</label>
    <input type="radio" name="indoors" value="<%= true %>" checked="checked">Yes
    <input type="radio" name="indoors" value="<%= false %>">No
  </div>

  <button type="submit" class="btn btn-success btn-lg">Add</button>
</form>
